<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
            rel="stylesheet">
        <link href="/fontAwesome/fontawesome-free-5.13.0-web/css/all.css" rel="stylesheet">
        <title>Csv converter</title>
        <meta http-equiv="Content-Security-Policy"
        content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="navbar">
            <div class="csvconverter">
                <img src="LogoMakr_8xcq1g.png" alt="">
            </div>
            <div class="navgrid">
                <h3></h3>
            </div>
            <div class="navgrid">
                <h3></h3>
            </div>
            <div class="navgrid">
                <h3></h3>
            </div>
            <div class="github">
                <a href="https://github.com/Rogerpeke97" target="_blank">
                    <i class="fab fa-github"></i>  
                    <h3>Github</h3>
                </a>
            </div>
            <div class="github">
                <a href="#" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                <h3>LinkedIn</h3>
            </a>
            </div>
            <div class="github">
                <a target="_blank" id="login_form">
                    <i class="fa fa-user"></i>
                <h3>Login</h3>
            </a>
            </div>
        </div>
        <div class="login" id="login_display">
            <div class="cross">
                <i class="fa fa-times" aria-hidden="true" id="cross"></i>
            </div>
            <div class="row_login1">
                <div class="row_login_login" id="login_click">
                    <h3>Login</h3>
                </div>
                <div class="row_login_signup" id="signup_click">
                    <h3>Sign up</h3>
                </div>
            </div>
            <div class="row_login2" id="login_enter">
                <form action="/" method="POST">
                <div class="username">
                    <div class="username_title">
                        <h3>Username</h3>
                    </div>
                    <div class="username_input">
                        <input type="text" name="username" id="username_login" value="Enter username...">
                    </div>
                </div>
                <div class="password">
                    <div class="password_title">
                        <h3>Password</h3>
                    </div>
                    <div class="password_input">
                        <input type="password" name="password" id="password_login" value="">
                    </div>
                </div>
                <div class="login_btn">
                    <button type="submit">Login</button>
                </div>
            </form>
            </div>
            <div class="row_signup2" id="signup_enter">
                <form action="/signup" method="POST">
                <div class="name">
                    <div class="name_title">
                        <h3>Name</h3>
                    </div>
                    <div class="name_input">
                        <input type="text" name="user" id="username_signup" value="Enter name...">
                    </div>
                </div>
                <div class="last_name">
                    <div class="last_name_title">
                        <h3>Last name</h3>
                    </div>
                    <div class="last_name_input">
                        <input type="text" name="" id="lastname_signup" value="Enter last name...">
                    </div>
                </div>
                <div class="password">
                    <div class="password_title">
                        <h3>Password</h3>
                    </div>
                    <div class="password_input">
                        <input type="password" name="password" id="password_signup" value="">
                    </div>
                </div>
                <div class="signup_btn">
                   <button type="submit">Sign Up</button>
                </div>
              </form>
            </div>
        </div>
        <div class="container">
            <div class="grid_1">
                <div class="grid_1_container">
                <div class="left_grid_1">
                    <div class="chartjs_logo">
                        <h1>Csv data visualization using chartjs</h1>
                        <img src='chartjs-logo.svg' alt="">
                    </div>
                    <div class="instructions_grid_1"><h3>Check the instructions<br/>
                        downbelow<br/>
                        by clicking this button!<br/>
                        <i class="fa fa-chevron-down"></i>
                    </h3></div>
                    <div class="button_grid_1">
                        <a href="#grid_2">
                        <button>Click me
                        </button>
                    </a>
                    </div>
                </div>
                <div class="right_grid_1">
                    <div class="buttons">
                        <i class="fas fa-file-excel"></i>
                        <i class="fas fa-file-csv"></i>
                        <i class="far fa-file-alt"></i>
                    </div>
                </div>
            </div>
            </div>
            <div class="grid_2" id="grid_2">
                <video width="100%" height="100%" controls muted autoplay loop>
                    <source src="videoexample.mp4" type="video/mp4">
                    <source src="videoexample.ogg" type="video/ogg">
                  Your browser does not support the video tag.
                  </video> 
            </div>
            <div class="grid_3">
                <div class="vertical">
                    <div class="image_example"></div>
                    <h4>
                        The vertical chart is a chart with rectangular bars with lengths proportional to the values that
                        they represent. One axis of the chart shows the specific categories being compared, and the other
                        axis represent different values that are modified according to the data being uploaded.
                        It provides a visual presentation of categorical data. Categorical data is a grouping of data into
                        discrete groups, such as months of the year, age group, shoe sizes, and animals. These categories
                        are usually qualitative.
                    </h4>
                </div>
                <div class="multiaxis">
                    <div class="imagemulti_example"></div>
                    <h4>
                        The multi-axial chart is a line chart, as the name suggests, it's line chart can be
                        configured for multiple axes. It is a special type of chart that allows multiple y-axes to be
                        rendered in the same chart.
                    </h4>
                </div>
            </div>
            <div class="grid_4">
                <div class="graphconfig">
                    <form action="/uploadedfile" enctype="multipart/form-data" method="POST" id="form">
                        <div class="browsefiles">
                            <label for="fileUp" class="btn">Browse Files</label>
                            <input id="fileUp" type="file" name="myFile" style="display: none;" />
                        </div>
                        <h1 id="aboutToUpload">File selected:

                        </h1>
                        <div class="uploadclick">
                            <label for="uploadClick" class="btn">
                                <h2>Upload!</h2>
                            </label>
                            <input id="uploadClick" type="submit" formtarget="_blank" style="display: none;" />
                        </div>
                </form>
                    <div class="row1">
                        <h2>Chart type</h2>
                        <h3 id="multiaxial">Multi-axial</h3>
                        <h3 id="vertical">Vertical</h3>
                        <h2>Chart title</h2>
                        <input type="text" id="chart_title" value="Write your chart title here!" autocomplete="off" />
                        <h3 id="upload_chart_title">Apply</h3>
                        <h2>Show all content</h2>
                        <h3 id="view_all">View full chart</h3>
                    </div>
                </div>
                <div class="myChart" id="chartContainer">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="grid_5">
                <div class="column1">
                    <div class="explain_image">
    
                    </div>
                    <div class="explain_text">
                        <h3>What this converter does at default is remove the first row of the csv or the first line
                            break and calculate the mean of the different numbers separated by commas in the different rows.
                            While calculating the mean of these numbers the first variable in the array is removed since
                            it's the variant that will be the x axis in the chart. The colors, given the amount of
                            numbers in each x variable, are randomized. Hence, if you update the chart or reload the website
                            all the values colors will change.
                        </h3>
                    </div>
                </div>
                <div class="column2">
                    <div class="explain_image">
    
                    </div>
                    <div class="explain_text">
                        <h3>When view full chart is selected no rows will be deleted (Except the first line[0], which in the
                            example csv file says 'Year'), the mean of each line break will not be calculated and each row
                            will be displayed from top to bottom with its corresponding values.
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>